---
# tasks file for ansible-linux-common

# vim:ts=2:sw=2

- name: "Change the hostname if it matches default hostname"
  become: yes
  hostname:
    name: "{{ inventory_hostname }}"
  when: ansible_hostname == default_hostname

- name: "Install packages for RHEL-based OS"
  become: yes
  package:
      name: "{{ packages.base.rh_common }}"
      state: present
  when: "(ansible_os_family == 'RedHat') or (ansible_os_family == 'Rocky')"

- name: "Install packages for RHEL (not the testing distributions)"
  package:
      name: "{{ packages.base.rhel }}"
      state: present
  become: yes
  when: "(ansible_os_family == 'RedHat') and not (ansible_distribution == 'Fedora')"

- name: "Upgrade packages system-wide (Debian-based distros)"
  when: "(ansible_os_family == 'Debian' or ansible_os_family == 'Ubuntu') and common_perform_pkg_upgrades"
  become: yes
  apt:
    upgrade: dist
    update_cache: yes

- name: "Upgrade packages system-wide (RHEL-based distros)"
  when: "(ansible_os_family == 'RedHat' or ansible_os_family == 'Rocky') and common_perform_pkg_upgrades"
  become: yes
  dnf:
    name: '*'
    state: latest

- name: "Install packages for Debian-based OS"
  package:
      name: "{{ packages.base.debian }}"
      state: present
      update_cache: yes #TODO: Check if neccesary
  become: yes
  when: "(ansible_os_family == 'Debian') or (ansible_os_family == 'Ubuntu')"

- name: "Install packages common for all hosts"
  package:
      name: "{{ packages.base.common }}"
      state: present
  become: yes

- name: "Install packages for RHEL-hosts that use interactive shell"
  package:
      name: "{{ packages.tty.rh_common }}"
      state: present
  become: yes
  when: "(ansible_os_family == 'RedHat') or (ansible_os_family == 'Rocky')"

- name: "Install packages for Debian-hosts that use interactive shell"
  package:
    name: "{{ packages.tty.debian }}"
    state: present
  become: yes
  when: "(ansible_os_family == 'Debian') or (ansible_os_family == 'Ubuntu')"

- name: "Install packages for all hosts that use interactive shell"
  package:
    name: "{{ packages.tty.common }}"
    state: present
  become: yes
  #when: "(ansible_os_family == 'RedHat') or (ansible_os_family == 'Rocky')"

- name: "Install extra packages for everyday terminal use"
  package:
    name: "{{ packages.tty.extra }}"
    state: present
  become: yes
  when: install_extra_packages

- name: "Set the timezone"
  timezone:
    name: "{{ default_timezone }}" #FIXME Set to system running this role?
  become: yes

- name: "Generate locale (if not RHEL-based distro)"
  become: yes
  changed_when: no
  shell:
    cmd: "locale-gen {{ default_locale }}"
  when: "(ansible_os_family != 'RedHat') and (ansible_os_family != 'Rocky')"

- name: "Set default locale in .bashrc skeleton-file"
  become: yes
  lineinfile:
    path: "/etc/skel/.bashrc"
    line:
    - 'export LC_ALL="{{ default_locale }}"'
    - 'export LANG="{{ default_locale }}"'

# If this is a virtualized system time is most likely managed by the hypervisor
- name: "Check if system is virtualized"
  command:
    cmd: "systemd-detect-virt"
  become: yes
  changed_when: False
  failed_when: False # Returns false if no virtualization found
  register: is_virtual_output

- set_fact: # Focusing on LXC for now, had no problems with KVM
    is_not_virtualized: "{{ 'lxc' not in is_virtual_output.stdout and 'wsl' not in is_virtual_output.stdout }}"
    chrony_config: "/etc/chrony.conf"

- set_fact:
    chrony_config: "/etc/chrony/chrony.conf"
  when: "(ansible_os_family == 'Debian') or (ansible_os_family == 'Ubuntu')"

- name: "Check if Chronyd already have the desired NTP-servers"
  check_mode: yes
  register: chrony_already_configured_check
  blockinfile:
    path: "{{ chrony_config }}"
    insertafter: "^(#)?pool.*"
    block: "{{ ntp_time_servers }}"
  become: yes
  notify: "Restart chronyd"
  when: is_not_virtualized

- set_fact: # Check if we did the changes in a prior sweep
    chrony_not_already_configured: "{{ chrony_already_configured_check.changed }}"

- name: "Comment out lines starting with 'pool' or 'server'"
  lineinfile:
    path: "{{ chrony_config }}"
    regexp: '^(pool.*|server.*)'
    line: '#\1'
    backrefs: yes
  become: yes
  notify: "Restart chronyd"
  when: is_not_virtualized and chrony_not_already_configured

- name: "Configure Chronyd (NTP) with timesync servers"
  blockinfile:
    path: "{{ chrony_config }}"
    insertafter: "^(#)?pool.*"
    block: "{{ ntp_time_servers }}"
  become: yes
  notify: "Restart chronyd"
  when: is_not_virtualized and chrony_not_already_configured

- name: "Start and enable chronyd (NTP)"
  ignore_errors: yes #TODO: Bug
  service:
    name: "chronyd"
    state: started
    enabled: yes
  become: yes
  when: is_not_virtualized and chrony_not_already_configured

#TODO:
#- name: Harden SSH
#- name: Diable root login by password through SSH if we are logged in a another privileged user
#- name: Create a sudo user
#- name: Create a ansible user

    #- name: "Copy fail2ban config"
    #  copy:
    #      src: "fail2ban.jail.local"
    #      dest: "/etc/fail2ban/jail.local"
    #      owner: root
    #      group: root
    #      mode: 660
    #  become: yes
    #  notify: "Restart fail2ban"
    #
    #- name: "Enable fail2ban service"
    #  service:
    #      name: "fail2ban"
    #      state: "started"
    #      enabled: "yes"
    #  become: yes
    #  notify: "Restart fail2ban"
    #  ignore_errors: yes # System might not have SSH
    #- name: "Create user"
    #  user:
    #    name: "{{ user }}"
    #    state: "present"
    #  become: yes

